<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.mapper.NotarizeArticleMapper">

    <resultMap id="NotarizeArticleResultMap" type="com.module.entity.NotarizeArticle">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="articleHtml" column="articleHtml" typeHandler="com.core.handler.BlobTypeHandler"/>
    </resultMap>

    <select id="selectAll" resultMap="NotarizeArticleResultMap">
        select * from notarize_article
    </select>

    <select id="selectById" resultMap="NotarizeArticleResultMap">
        select * from notarize_article where id=#{id}
    </select>
</mapper>